!!! 5

%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title= title
    = javascript_include_tag "bundle"
    %link{:rel => "mask-icon", :href => "/assets/images/appsignal-safari-icon.svg", :color => "#21375A" }

    %meta{:content => title, :property => "og:title"}
    %meta{:content => site_name, :property => "og:site_name"}
    %meta{:content => "en_US", :property => "og:locale"}

    %meta{:content => "@appsignal", :name => "twitter:site"}
    %meta{:content => "summary", :name => "twitter:card"}
    %meta{:content => canonical_url("/assets/images/dl_logo/square-mark-dark.png"), :name => "twitter:image"}
    %meta{:content => "AppSignal logo icon", :name => "twitter:image:alt"}

    = partial "analytics"

  %body.font-rubik.bg-gray-100
    = partial "header"
    .container.my-4.lg:my-12.lg:px-4
      .grid.grid-docs.grid-cols-1.lg:grid-cols-12
        #main.row-start-2.lg:row-start-1.lg:row-span-2.lg:col-span-12{ :data => { :role => "main-content" } }
          .bg-white.mt-8.lg:mt-0.px-4.sm:px-8.lg:px-12.py-6.lg:py-8.rounded.shadow-sm
            .inner
              %article.mod-article
                ~ yield
                #fyfk-widget

    .layout-footer
      = partial "footer"
    = partial "cookies"
