<%
  tours = [
    {
      title: "Error tracking",
      slug: "errors",
      color: "orange",
      icon: "fa-bug",
      human_teaser: "Catch errors and make sure they don't happen again.",
      icon_class: "c-header-subnav__link__icon--orange"
    },
    {
      title: "Performance monitoring",
      slug: "performance",
      color: "green",
      icon: "fa-rabbit-fast",
      human_teaser: "Find performance issues before they find you.",
      icon_class: "c-header-subnav__link__icon--green"
    },
    {
      title: "Host monitoring",
      slug: "hosts",
      color: "teal",
      icon: "fa-server",
      human_teaser: "Run healthy apps on healthy hardware.",
      icon_class: "c-header-subnav__link__icon--teal"
    },
    {
      title: "Metric dashboards",
      slug: "metrics",
      color: "purple",
      icon: "fa-tachometer-alt",
      human_teaser: "Collect metrics and visualize them with a few lines of code.",
      icon_class: "c-header-subnav__link__icon--purple"
    },
    {
      title: "Workflow features",
      slug: "workflow",
      color: "blue",
      icon: "fa-users",
      human_teaser: "AppSignal keeps your team focused on building great apps.",
      icon_class: "c-header-subnav__link__icon--blue"
    },
    {
      title: "Anomaly detection",
      slug: "anomaly-detection",
      color: "red",
      icon: "fa-siren-on",
      human_teaser: "Get alerted in real-time when metrics go over their limits.",
      icon_class: "c-header-subnav__link__icon--red"
    }
  ]
  platforms = [
    { name: "Elixir APM", link: "https://appsignal.com/elixir/", icon: "fa fa-tint", text_class: "text-purple", dark_text_class: "dark:text-purple-400" },
    { name: "Ruby APM", link: "https://appsignal.com/ruby/", icon: "fa fa-gem", text_class: "text-red", dark_text_class: "dark:text-red-400" },
    { name: "NodeJS APM", link: "https://appsignal.com/nodejs/", icon: "fab fa-node-js", text_class: "text-green", dark_text_class: "dark:text-green-400" },
    { name: "JavaScript error tracking", link: "https://appsignal.com/javascript/", icon: "fab fa-js-square", text_class: "text-yellow", dark_text_class: "dark:text-yellow-400" }
  ]
%>

<header class="sticky top-0 z-50">
  <div
    class="js-mobile-menu-wrapper bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-800 lg:relative"
    data-mobile-menu-wrapper-active-classes="fixed inset-0 overflow-y-auto"
  >
    <div class="container flex flex-wrap items-center py-5 px-8">
      <a href="https://appsignal.com" class="flex-grow lg:flex-grow-0" title="Return to the homepage of AppSignal">
        <%= image_tag "dl_logo/appsignal-logo.svg", :alt => "Logo of AppSignal", :class => "h-6" %>
      </a>

      <%# Desktop Nav %>
      <nav class="hidden lg:block flex-grow w-full lg:w-auto mt-6 lg:mt-0">
        <ul class="c-header-nav">
          <li>
            <a href="https://appsignal.com" class="c-header-nav__link">
              Home
            </a>
          </li>
          <li class="group" tabindex="0">
            <a class="c-header-nav__link">
              Tour
              <i class="fa fa-angle-down c-header-nav__link__icon"></i>
            </a>
            <div class="c-header-nav__subnav-wrapper">
              <div class="c-header-subnav grid grid-cols-3 gap-8">
                <div class="col-span-2">
                  <h3 class="c-header-subnav__title">
                    Features
                  </h3>
                  <ul class="c-header-subnav__list c-header-subnav__list--large grid grid-cols-2">
                    <% tours.each do |tour| %>
                      <li class="col-span-1">
                        <a href="https://appsignal.com/tour/<%= tour[:slug] %>" class="c-header-subnav__link c-header-subnav__link--large">
                          <i class="fa fa-fw <%= tour[:icon] %> c-header-subnav__link__icon <%= tour[:icon_class] %>"></i>
                          <div>
                            <span class="c-header-subnav__link__title">
                              <%= tour[:title] %>
                            </span>
                            <span class="c-header-subnav__link__description">
                              <%= tour[:human_teaser] %>
                            </span>
                          </div>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
                <div class="col-span-1">
                  <h3 class="c-header-subnav__title">
                    Supported platforms
                  </h3>
                  <ul class="c-header-subnav__list">
                    <% platforms.each do |platform| %>
                      <li>
                        <a class="c-header-subnav__link" href="<%= platform[:link] %>">
                          <i class="fa-fw <%= platform[:icon] %> c-header-subnav__link__icon"></i>
                          <span class="c-header-subnav__link__title">
                            <%= platform[:name] %>
                          </span>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="http://docs.appsignal.com" class="c-header-nav__link c-header-nav__link--active">Docs</a>
          </li>
          <li>
            <a href="http://blog.appsignal.com" class="c-header-nav__link">Blog</a>
          </li>
          <li>
            <a href="https://appsignal.com/pricing" class="c-header-nav__link">
              Pricing
            </a>
          </li>
        </ul>
      </nav>

      <nav class="hidden lg:block">
        <ul class="flex">
          <li class="logged-in hidden">
            <a href="https://appsignal.com/accounts" class="c-button c-button--sm c-button--white dark:c-button--gray block">
              Go to app
            </a>
          </li>
          <li class="logged-out">
            <a href="https://appsignal.com/users/sign_in" class="c-button c-button--sm c-button--white dark:c-button--gray block mb-4 lg:mb-0 lg:mr-4">
              Log in
            </a>
          </li>
          <li class="logged-out">
            <a href="https://appsignal.com/users/sign_up" class="c-button c-button--sm block">
              Start free trial
            </a>
          </li>
        </ul>
      </nav>

      <%# Mobile Nav %>
      <div class="js-mobile-menu-toggle cursor-pointer lg:hidden toggle c-button c-button--sm c-button--white dark:c-button--gray">
        Menu
        <i class="fa fa-fw fa-bars ml-1"></i>
      </div>

      <nav class="js-mobile-menu-nav hidden c-header-m-nav">
        <ul class="c-header-m-nav__list">
          <h3 class="c-header-m-nav__title">Features</h3>
          <% tours.each do |tour| %>
            <li>
              <a class="c-header-m-nav__link" href="https://appsignal.com/tour/<%= tour[:slug] %>">
                <i class="c-header-m-nav__link__icon fa fa-fw <%= tour[:icon] %>"></i>
              <span class="c-header-m-nav__link__title">
                <%= tour[:title] %>
              </span>
              </a>
            </li>
          <% end %>
        </ul>
        <ul class="c-header-m-nav__list">
          <h3 class="c-header-m-nav__title">Platforms</h3>
          <% platforms.each do |platform| %>
            <li>
              <a class="c-header-m-nav__link" href="<%= platform[:link] %>">
                <i class="c-header-m-nav__link__icon fa-fw <%= platform[:icon] %>"></i>
              <span class="c-header-m-nav__link__title">
                <%= platform[:name] %>
              </span>
              </a>
            </li>
          <% end %>
        </ul>
        <ul class="c-header-m-nav__list">
          <h3 class="c-header-m-nav__title">Product</h3>
          <li>
            <a class="c-header-m-nav__link" href="https://appsignal.com/pricing">
              <i class="c-header-m-nav__link__icon fa fa-fw fa-credit-card-blank"></i>
              <span class="c-header-m-nav__link__title">
                Pricing
              </span>
            </a>
          </li>
        </ul>
        <ul class="c-header-m-nav__list">
          <h3 class="c-header-m-nav__title">Resources</h3>
          <li>
            <a class="c-header-m-nav__link" href="http://docs.appsignal.com">
              <i class="c-header-m-nav__link__icon fa fa-fw fa-file"></i>
              <span class="c-header-m-nav__link__title">
                Documentation
              </span>
            </a>
          </li>
          <li>
            <a class="c-header-m-nav__link" href="http://blog.appsignal.com">
              <i class="c-header-m-nav__link__icon fa fa-fw fa-rss"></i>
              <span class="c-header-m-nav__link__title">
                Blog
              </span>
            </a>
          </li>
        </ul>
        <ul class="text-center">
          <li class="logged-in hidden">
            <a href="https://appsignal.com/accounts" class="c-button c-button--sm c-button--white dark:c-button--gray block">
              Go to app
            </a>
          </li>
          <li class="logged-out">
            <a href="https://appsignal.com/users/sign_in" class="c-button c-button--sm c-button--white dark:c-button--gray block mb-4 lg:mb-0 lg:mr-4">
              Log in
            </a>
          </li>
          <li class="logged-out">
            <a href="https://appsignal.com/users/sign_up" class="c-button c-button--sm block">
              Start free trial
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
